# THEORITICAL QUESTIONS

1. What are data structures, and why are they important?
- Data structures are ways to store and organize data efficiently in a computer so that it can be accessed, modified, and used effectively. They are important because they help in optimizing performance, managing memory efficiently, and solving complex problems more easily.

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable data types are those whose values can be changed or updated after creation. Examples include lists, dictionaries, and sets.
 - Immutable data types are those whose values cannot be changed once assigned. Examples include tuples, strings, and integers.

 3. What are the main differences between lists and tuples in Python?
 - Lists can contain multiple items of different data types and are mutable, meaning their elements can be changed.
 - Tuples can also contain multiple items of different data types but are immutable, meaning their elements cannot be changed after creation.
 - Tuples use less memory than lists because they are immutable and have a simpler structure.

 4. Describe how dictionaries store data?
- Dictionaries store data in the form of key–value pairs, where each key has an associated value. They are defined using curly braces {}. Dictionaries use hashing internally, which allows fast access, insertion, and deletion of elements.

5. Why might you use a set instead of a list in Python?
- When we need to store only unique values and ensure that no duplicates exist in our data, we should use a set instead of a list, because a set automatically removes duplicate elements and only keeps unique items.

6. What is a string in Python, and how is it different from a list?
- A string in Python is a data type used to represent a sequence of characters. Strings are written inside single quotes (' ') or double quotes (" ").
- A list, on the other hand, is a data structure that can store multiple items of different data types (such as numbers, strings, or even other lists). Lists are written inside square brackets [ ].
- string are immutable where as lists are mutable.
- Strings can only contain characters, whereas lists can contain any type of data.

7. How do tuples ensure data integrity in Python ?
- Tuples ensure data integrity in Python because they are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed. This immutability prevents accidental modification of data, ensuring that the stored information remains consistent and reliable throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores data in key value pairs and uses a hash function to compute an index (called a hash value) for each key. This allows for very fast data lookup, insertion, and deletion.

9. Can lists contain different data types in Python?
 - Yes, lists does contain different data types and can easily acciseable.

10. Explain why strings are immutable in Python?
 - This immutability ensures data integrity and prevents accidental modification of string values during program execution. It also allows Python to store and reuse strings efficiently in memory (through a process called interning) and makes strings safe to use as keys in dictionaries or elements in sets since their hash value remains constant.

 11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer several advantages over lists, especially when data is organized in key-value pairs. They allow fast access to values using keys in constant time, whereas lists may require searching through elements, which is less efficient. Dictionaries store the relationship between keys and values clearly, making them ideal for data like student names and roll numbers, or product IDs and prices. Unlike lists, there is no need to track indices, and key-value pairs can be easily added, updated, or deleted without reorganizing the entire structure. Additionally, dictionary keys can be strings, numbers, or tuples, providing flexibility for real-world mapping tasks. Overall, dictionaries are faster, more convenient, and more suitable than lists when quick lookup and clear associations between data elements are required.

12. Describe a scenario where using a tuple would be preferable over a list?
- A tuple would be preferable over a list when you need to store a collection of items that should not change throughout the program. eg- consider storing the latitude and longitude of a location.

13. How do sets handle duplicate values in Python?
- set internally handels the duplicate values by ignoring the repeated values.f you try to add a value that already exists in a set, Python will ignore it and not create a duplicate.

 14. How does the “in” keyword work differently for lists and dictionaries?
- "in" is a membership operator used in lists to search whether the element is presented or not. while,In dictionaries "in" checks if a key exists in the dictionary, not the value.

15.  Can you modify the elements of a tuple? Explain why or why not?
- No,we cannot modify the elements of tuples once it created it cannot be changed,replace,remove as tuples are immutable.This immutability ensures data integrity, allows tuples to be used as keys in dictionaries, and makes them more memory-efficient compared to lists.

16. What is a nested dictionary, and give an example of its use case?
- nested dictionary means dictionary inside the another dictionary means one dictionary itself conatin the another dictionary.
- eg - let's assume we need to store the students marks of diffrent subjects with their names.

17. Describe the time complexity of accessing elements in a dictionary?
- o(1) dictionaries are implemented using hash tables, which allow Python to compute the hash of the key and directly locate the corresponding value in memory without scanning all elements.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when the data is not organized in key–value pairs and can be accessed sequentially without hashing. They are suitable for ordered collections where you mainly need to store and retrieve items by position rather than by a key.
- eg - we need to retrive just the names of the students.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- because they do not maintain any guaranteed order of their keys; the internal storage is based on a hash table rather than sequence positions. This means you cannot rely on the order of items when iterating over a dictionary.
- You access values using keys, not positions, so retrieval is fast.
- ou cannot assume the first key added will come first when looping over the dictionary as the order of key is not sequential.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- The main difference between a list and a dictionary in terms of data retrieval lies in how elements are accessed:

List: Elements are accessed by index, so retrieving an element by position is O(1). However, operations like searching for a value, inserting, or deleting at arbitrary positions are slower, with O(n) time complexity, because Python may need to shift elements.

Dictionary: Elements are accessed by keys using a hash table, which allows average O(1) time complexity for retrieval. This makes dictionaries much faster than lists when you need to look up data by a key.

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it
name = "Amit"
print(name)

Amit

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
string = "Hello World"

In [2]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [3]:
#4. Write a code to convert the string "hello" to uppercase
string = "hello"
string.upper()

'HELLO'

In [4]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
string.replace("apple", "orange")

'I like orange'

In [5]:
#6 . Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [12]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [13]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [16]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
min(tuple)

5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [19]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ('apple', 'banana', 'orange')
"kiwi" in tuple

False

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

In [ ]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

In [20]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [21]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.intersection(set2)

{3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "Amit", "age": 20, "city": "Delhi"}
print(dict)

In [22]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
dict["name"]

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

In [23]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [24]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
tuple = (1,2,3,4,5,6,6)
dict = {"name":"Amit","age":20,"city":"Delhi","profession":"spiderman"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6, 6)
{'name': 'Amit', 'age': 20, 'city': 'Delhi', 'profession': 'spiderman'}

In [27]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()

print(numbers)

[13, 18, 28, 72, 91]

In [28]:
#28. Write a code to create a list with strings and print the element at the third index.
list = []
for i in range(5):
  print("Enter the string")
  list.append(input())
print(list)

Enter the string
string
Enter the string
fm
Enter the string
fvef
Enter the string
fvrfv
Enter the string
erfe
['string', 'fm', 'fvef', 'fvrfv', 'erfe']

In [31]:
#29. Write a code to combine two dictionaries into one and print the result.
dict = {"name":"Amit","age":20}
dict2 = {"city":"Delhi","profession":"spiderman"}
dict.update(dict2)
print(dict)

{'name': 'Amit', 'age': 20, 'city': 'Delhi', 'profession': 'spiderman'}

In [32]:
#30.  Write a code to convert a list of strings into a set.
list = ['a','b','c','d','e']
set(list)

{'a', 'b', 'c', 'd', 'e'}